// Place all the styles related to the proprietarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
